body{
  /*width:480px;*/
 max-width:640px;
}

.blackmenu{
  margin:0;
  padding:1px 0 0 0;
  border-top: 1px solid #000;
  border-bottom:1px solid #000; 
}
.blackmenu li{
  list-style:none;
  width:50%;
  float:left;
  margin-bottom:1px;
  background-color:#000;
  padding:10px 0;
}
.blackmenu li a{
  background: #000;
  color:#fff;
  /*display:inline-block;*/
  padding-left:10%;
  /*padding:0.5em 0 0.5em 1em;*/
  text-decoration:none;
  text-transform:uppercase;
  font-weight:bold;
  /*font-size:110%;*/
}
.topmenu li:nth-child(even) a{
  margin-left:1px;
}

.bottommenu li a{
  text-transform:capitalize;
  font-weight:normal
}
body.front .bottommenu li:not(.frontpage):not(.mainsite):nth-child(even) > a{
  margin-left:1px;
}
body:not(.front) .bottommenu li:not(.frontpage):not(.mainsite):nth-child(odd) > a{
  margin-left:1px;
}

.bottommenu li.frontpage a, .bottommenu li.mainsite a{
  padding-left:0;  
}
.bottommenu li.frontpage, .bottommenu li.mainsite{
  text-align:center;
  width:100%;
}


.imagecache-mobile-list-image{
  width:100%;
  height:auto;
}





/* lists */
h1,
#ting-collection h1,
.pane-title {
  background: #f39500;
  padding:0.5em 0 0.5em 1em;
  display:block;
  text-transform:uppercase;
  font-size:13px;
  margin:0;
  margin-top:5px;
  margin-bottom:1px;
  font-weight:bold;
}

h2 {
  background: #c0c0c0;
  padding:0.5em 0 0.5em 1em;
  display:block;
  text-transform:uppercase;
  font-size:13px;
  margin:0;
  margin-top:5px;
  margin-bottom:1px;
  font-weight:bold;
}

/*.view-mobile-articles a,
.view-mobile-events a{
  text-decoration:none;
  color:#000;
}


.view-mobile-articles .views-field-title,
.view-mobile-articles .views-field-created,
.view-mobile-articles .views-field-body,
.view-mobile-events .views-field-title,
.view-mobile-events .views-field-field-datetime-value,
.view-mobile-events .views-field-body,
.view-mobile-events .more-link a,
.view-mobile-articles .more-link a{
    padding-left:1em;
    padding-right:3em;
}
.view-mobile-articles .attachment .views-field-title,
.view-mobile-events .attachment .views-field-title{
  padding-top:1em;
  padding-bottom:1em;
  font-weight:bold;
}
.view-mobile-articles a .views-field-created,
.view-mobile-events a .views-field-field-datetime-value{
  color:#a1a1a2;
}
.view-mobile-articles .attachment .views-field-body,
.view-mobile-events .attachment .views-field-body{
background: transparent url('../images/arrow.png') no-repeat right top;
}

.view-mobile-articles .views-field-title,
.view-mobile-events .views-field-title{
background: transparent url('../images/arrow.png') no-repeat right top;
}
.view-mobile-articles .attachment .views-field-title,
.view-mobile-events .attachment .views-field-title{
  background-image:none;
}
.view-mobile-articles .views-row a,
.view-mobile-events .views-row a,
.view-mobile-articles .more-link a,
.view-mobile-events .more-link a{
  display:block;
  background: #f0f0f0;
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:3px;
}
.view-mobile-articles .more-link a,
.view-mobile-events .more-link a{
  background: #f0f0f0 url('../images/arrow.png') no-repeat right center;
}
.view-mobile-articles .attachment .views-row a,
.view-mobile-events .attachment .views-row a{
background:#ffffff;
padding-top:inherit;
padding-bottom:2em;
}
.view-mobile-articles .more-link,
.view-mobile-events .more-link{
  text-align:left;
}*/

.more-link{
  text-align:left;
}

.view-mobile-articles a .views-field-created,
.view-mobile-events a .views-field-field-datetime-value{
  color:#a1a1a2;
}

/* reset mini pager */

.item-list .pager{
  margin:0;
  padding:0;
}
.item-list .pager li{
  float:left;
  margin:0;
  padding:0;
}
.item-list .pager li.pager-previous,
.item-list .pager li.pager-next{
  width:40%;
}
.pager li.pager-current{
  width:20%;
  padding:1em 0;
}
.item-list .pager li a{
  display:block;
  background:#f0f0f0;
  padding:1em 0;
}

/* reset lists*/

.reset-list ul{
  margin:0;
  padding:0;
  list-style:none;
}
.reset-list ul li{
  padding:0;
  margin:0;
}

/* gray buttons */

.graybox-btns a{
  display:block;
  padding:1em 3em 1em 1em;
  background: #f0f0f0 url('../images/arrow.png') no-repeat right center;
  color:#000;
  text-decoration:none;
  margin-top:3px;
}
.graybox-btns .attachment a{
 padding:0;
 background-color: transparent; 
 margin:0;
}
.graybox-btns .attachment .views-field-title,
.graybox-btns .attachment .views-field-created,
.graybox-btns .attachment .views-field-body,
.graybox-btns .attachment .date-display-single{
  padding-left:1em;
  padding-right:3em;
}
.graybox-btns .attachment .views-field-title{
  padding-top:1em;
  padding-bottom:1em;
  font-weight:bold;
}
.graybox-btns .attachment .views-field-body{
  padding-bottom:2em;
}









/* strange resets */ 
 
.ui-tabs-panel{
  border:0 none;
  background:transparent none;
  padding:0;
} 
 
 
 
 
 
 
 
 
 
 
 
 /* ting search */

#ting-collection .picture, #ting-search-result .picture{
  float:left;
}
#ting-search-result li, #ting-collection .content{
  background-color:#f0f0f0;
  min-height:120px;
}
#ting-collection .item, #ting-search-result .item{
  margin-left:80px;
}
#ting-search-result .subjects, #ting-search-result .creator, #ting-search-result .publication_date{
  font-size:0.9em;
  color:#a1a1a2;
}


#ting-search-result h3{
  margin:0;
  font-size:1em;
}
